# Logitech G910 Orion Spectrum
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c335", TAG+="uaccess"
# Logitech G910 Orion Spark
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c32b", TAG+="uaccess"

# Evdev nodes for reactive effects
KERNEL=="event*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c335", TAG+="uaccess"
KERNEL=="event*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c32b", TAG+="uaccess"
